body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.header{
  height: 100vh;
  background-color: #ececec;
  /* background-image: linear-gradient(to right bottom,rgba(21, 84, 239, 0.8),rgb(211, 211, 212)); */
  background-size: cover;
  background-position: top;
  position: relative;
}

.logo-box{
  position:absolute;
  top: 40px;
  left: 40px;
}

.logo{
  height: 35px;
}

.div-margin-top{
  margin-top: 30px;
}


.text-box{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;

}

.heading-primary{
  color: #fff;
  text-transform: uppercase;
  backface-visibility:hidden;
  margin-bottom: 40px;
}

.heading-primary-main{
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 28px;
  animation: moveInLeft;
  animation-duration: 2s;
}

.heading-primary-sub{
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.5px;
  animation: moveInRight;
  animation-duration: 2s;
}

@keyframes moveInRight {
  0% {
      opacity: 0;
      transform: translateX(+10vw);
  }
  100% {
      opacity: 1;
      transform: translate(0);
  }
}


@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-100px);

  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}


@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(+10vw);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}


.btn:link,
.btn:visited{
  text-transform: uppercase ;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 100px;
  display: inline-block;
  transition: all .2s;
  position: relative;
}

.btn-animated{
  animation:moveInBottom 1s ease-in-out ;
  animation-fill-mode: backwards;
}


@media (max-width:1300px){
  .heading-primary-main{
    display: block;
    font-size: 41px;
    font-weight: 400;
    letter-spacing: 35px;
    animation: moveInLeft;
    animation-duration: 2s;
  }
}


@media (max-width:1000px){
  .heading-primary-main{
    display: block;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 35px;
    animation: moveInLeft;
    animation-duration: 2s;
  }
}


.btn:hover{
  transform: translateY(-3px) ;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn:active{
  transform: translateY(-1px);
}

.btn-white{
  background-color: #fff;
  color: #777;
}


.btn::after{
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after{
  background-color: #fff;
}


.btn:hover::after{
  transform: scale(1.4);
  opacity: 0;
}